.button {
  border-radius: 34px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #fdc50f 21.76%, #fb982f 99.36%);
  box-shadow: 0 20px 24px 3px rgba(251, 161, 40, 0.42);

  &:hover {
    background: #fff;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
  }
}

a {
  text-decoration: none;
}

.blur {
  background: #eed0ff;
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  filter: blur(72px);
  z-index: -9;
  top: 18%;
  left: 56%;
}
