.button {
  border-radius: 34px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #fdc50f 21.76%, #fb982f 99.36%);
  box-shadow: 0 20px 24px 3px rgba(251, 161, 40, 0.42);

  &:hover {
    background: #fff;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
  }
}

a {
  text-decoration: none;
}

.blur {
  background: #eed0ff;
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  filter: blur(72px);
  z-index: -9;
  top: 18%;
  left: 56%;
}

.slick-slider.slick-initialized {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.slick-arrow {
  border-radius: 6px;
  border: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
  display: none;
}

.slick-arrow.slick-prev {
  position: absolute;
  z-index: 10;
}

.slick-arrow.slick-next {
  position: absolute;
  z-index: 10;
  right: 0;
  display: none;
}

.slick-dots li {
  display: none;
}

.slick-list {
  margin-left: 172px;
  overflow: hidden;
}

.toggle > * {
  width: 18px;
  height: 18px;
  color: var(--orange);
}

.ms-d-fe {
  margin-left: 8px;
}

.btn-primary-fdfd {
  padding: 10px 0;
  display: block;
}
.s-f-f-g-df > * {
  display: block;
}

@media (max-width: 740px) {
  .slick-list {
    margin-left: 0;
  }
}
