.v-wrapper {
  height: 76px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3.5rem;
}

.v-left {
  flex: 0.7;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.v-name {
  font-size: 20px;
  font-weight: bold;
}

.v-toggle {
}

.v-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.v-right-list {
  flex: 10;
}

.v-list {
  display: flex;
  gap: 32px;
  margin-right: 64px;
  list-style: none;
}

.v-list-item {
  font-size: 16px;
  &:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

.v-button {
  flex: 2;
}

.mobile-v {
  display: none;
}

.v-name-mobile {
  display: none;
}

.v-list-m-b {
  transform: translateX(-100%);

  transition: transform linear 0.4s;
}

.c-v-n-22062003 {
  position: fixed;
  right: 0;
  display: none;
}

.c-v-n-22062003:checked ~ .v-list-m-b {
  transform: translateX(0);
}

.v-list-m-b {
  list-style: none;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  right: 0;
  box-shadow: var(--boxShadow);
  z-index: 10000;
}

.v-list-item-v-c-m {
  padding: 8px 6px;
}

.v-list-item-oadsa {
  font-size: 10px;
  margin-top: 94px;
  display: block;
  text-align: center;
}

@media (max-width: 740px) {
  .v-list {
    display: none;
  }

  .v-pc {
    display: none;
  }
  .mobile-v {
    display: block;
  }

  .v-name {
    display: none;
  }
  .v-name-mobile {
    display: block;
    position: relative;
  }
  .icon-m-b {
    font-size: 21px;
  }

  .v-name-mobile:focus ~ .v-list-m-b {
    display: block;
  }
}
