.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  display: block;
}

.v-ft {
  position: absolute;
  bottom: 10px;
  display: block;
  z-index: 1000;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.video-px {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  color: #fff;
  animation: FadeIN linear 4s 5s forwards;
  transform: translateX(-120%);
}

.v-s-f {
  margin-top: 20px;
}

.video-px-y {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  color: #fff;
  animation: FadeOut linear 4s 5s forwards;
  transform: translateX(150%);
}

.ic-kh {
  font-weight: 500;
  font-family: sans-serif;
}

.ic-kh-ui {
  font-weight: 500;
  font-family: sans-serif;
}

@keyframes FadeIN {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes FadeOut {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.video-px-y-mobile {
  display: none;
}

@media (max-width: 740px) {
  .v-ft {
    font-size: 8px;
  }
  .wrapper {
    height: 90vh;
  }
  .video-px-y {
    top: 123px;
  }

  .video-px-y-mobile {
    display: block;
    position: absolute;
    bottom: 70px;
  }
}
